/* Hide tabs bar */
#TabsToolbar {
    display: none;
}

/* Reduce minimum width */
#sidebar {
  min-width: 100px !important;
}

/* Hide Tree Style Tab sidebar header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* hide sidebar/webpage splitter */
#sidebar-splitter {
    display: none !important;
}

/* set sidebar width */
#sidebar-box {
  min-width: 15vw !important;
  max-width: 15vw !important;
}

/* Auto-hide sidebar when fullscreen */
#main-window[inFullscreen] #sidebar-box,
#main-window[inFullscreen] #sidebar-splitter {
  display: none !important;
  width: 0px !important;
}
